---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
FixNamespaceComments: true
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
